.navbar{
    padding: 0;
    margin: 0;
}

.body{
    font: 'Gabarito','sans-serif';
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
}
.navbar__s1__title{
    color: blueviolet;
}
.navbar__s2{
    padding: 10px;
    border: solid black .5px;
    border-radius: 30px;
    width: 40%;
    height: 40%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar__s2 input{
    border: none;
    width: 100%;
    font-size: 16px;
    /*flex-direction: column;*/
}
.navbar__s2 input:focus{
    outline: none;

}
.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}
.categories{
    display: flex;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;
    gap: 10px;
}
.categories p{
    background-color: purple;
    color: white;
     padding: 10px;
     border-radius: 30px;
}
.sale-img img{
    width: 100%;
    height: 30%;
}
.recommented{
    padding: 10px;
}
.course-card{
    width: 200px;
 
}
.course-card img{
    height: 50%;
    width: 100%;
}
.recommented__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.topics{
    padding: 10px;
    
}
.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
    
}
.topics__container p{
    border: solid grey 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;

}
.footers{
    padding: 30px;
    background-color: black;
    color: white;
}
.footer__one{
    display: flex;
    gap: 10px;
}
.footer__one p{
    margin: 20px;
}
.footer__two{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}